.table{
    color:#6a5d5d;
    height:calc(100vh - 300px);
}

.table tr:nth-of-type(odd){
    background-color: #f3f2f8;
}

.table tr{
    display: flex;
    justify-content: space-between;
}

.table td{
    padding: 0.5rem;
}

.table ul{
    list-style-type: none;
    display: flex;
    padding: 9px 10px;
    margin: 0px;
}

.table li{
    display: flex;
}

.table ul:nth-of-type(odd){
    background-color: #f3f2f8;
}

.table li:hover{
    color: #005690;
}